.App {
  min-height: 100vh;
  background: #3b3b98;
}

.container{
  width: 350px;
  margin: 0 auto;
  padding-top: 200px;
}

.generator{
  background: #23235b;
  border-radius: 3px;
  box-shadow: 0px 2px 10px rgb(255,255,255,0.2);
  padding: 20px;
}

.generator_heder{
  text-align: center;
  color: #ffff;
  margin-bottom: 20px;
}